<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finish</title>
    <link rel="stylesheet" href="/finishstyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <div id="headerLinks">
          <form action="/about" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">about</button>
          </form>
          <p style="font-size: 25px; font-weight: 700; margin-top:22px; color: #b30000; height: 100%; margin-left: 19px"><a  onclick="homefunc()"><img src="/images/logo.svg" style="height: 100%"></a></p>
          <form action="/profile" method="GET">
              <button style="color: grey; border: none; font-family: Lemon Milk; font-size: 1rem; background-color: transparent">profiles</button>
          </form>
    </div>
    <div id="topSpaceFill"></div>
    
    <div id="content">
        <div>
            <h3 style="font-weight: 400; text-align: center"><%= name %> has emerged as the ultimate victor, with <%= army %> army points, <%= navy %> navy points, a morale factor of <%= moral %>—clocking in at a total of <%= total %> points. All other countries have been eliminated.</h3>
        </div>
        
        <div style="background: linear-gradient(-60deg, #d5dede 10%, #354860 10%, #354860 90%, #d5dede 90%); padding: 10px; color: lightgrey; margin: auto; margin-top: 30px; margin-bottom: 30px; min-width: 300px;">
            <p style="margin: 0; padding-left: 50px; padding-right: 50px">Want to play again? Hit the 'Reset' button to start over.</p>
        </div>
        
    
        <form class="reset" action="/reset" method="GET">
            <button class="button">RESET</button>
        </form>
    </div>
    
    <div id="footerDiv">
        <p>World War I Game © 2024 M. Felsmann</p>
    </div>
    
    
</body>
</html>